@CHARSET "ISO-8859-1";

body {
    color: black; background-color: white;
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0; padding: 1em 0;
    text-align: center;  /* Zentrierung im Internet Explorer */
  }
  
#doc  {
  width: 73%;

  margin: 0 auto;
  border: 1px solid;
  
}

header {
	margin: 0; 
	height:150px;
	width:auto;
    background-image:url(../images/battleship.png);
    background-size: 100% auto;
    border: 1px solid;
    background-repeat:no-repeat; 
    background-position: left;
    text-align: left;
}

section {
	float: none;

	text-align: center;
	height:inherit;
}

footer {
  clear: both;
    font-size: 0.83em;
    margin: 0; padding: 0.1em;
    text-align: center;
    background-color: #fed;
    border-top: 1px solid silver;
}

nav {

	display:inline;
	text-align: left;
	float:left;
	width: 10%;
	height:inherit;
	min-height:500px;
	
	
	
}

ul#navigator {
    font-size: 0.83em;
    float: left; width: 80% auto;
    margin: 0 0 1.2em; padding: 0;
  }
  ul#navigator li {
    list-style: none;
    margin: 0; padding: 0.5em;
  }
  ul#navigator a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
  }
  ul#navigator a:link {
    color: black; background-color: white;
  }
  ul#navigator a:visited {
    color: #666; background-color: white;
  }
  ul#navigator a:hover {
    color: black; background-color: #6e8289;
  }
  ul#navigator a:active {
    color: white; background-color: #1d465c;
  }
  
  div#offenespiele {
  	 display:inline; 
  	 float:right;
  }
  
    div#chat{
  	 display:inline; 
  	 float:left;
  	 text-align: left;
  }
 

  


